Class

In [30]:
class FourCal:
    
    def __init__(self, first, second): # 생성자 만들기
        self.first = first
        self.second = second
    
#     def setdata(self, first, second): # self는 객체의 이름이 들어간다.
#         self.first = first
#         self.second = second
        
    def add(self):
        result = self.first + self.second
        return result
    
    def mul(self):
        result = self.first * self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result
    
    def div(self):
        result = self.first / self.second
        return result

In [21]:
a = FourCal()

In [22]:
a.setdata(4,2)

In [4]:
a.first

4

In [6]:
a.second

2

In [25]:
b = FourCal()

In [26]:
b.setdata(3,7)

In [24]:
b.first

3

In [11]:
b.second

7

In [19]:
a.add()

6

In [27]:
a.sub()

2

In [28]:
b.sub()

-4

In [31]:
a = FourCal(4,3)

In [32]:
a.mul()

12

In [33]:
a.div()

1.3333333333333333

클래스의 상속

In [44]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second 
        return result

In [45]:
a = MoreFourCal(5,3)

In [39]:
a.add()

8

In [40]:
a.mul()

15

In [46]:
a.pow()

125

메서드 오버라이딩

In [47]:
a = FourCal(4.0)

TypeError: __init__() missing 1 required positional argument: 'second'

In [48]:
class SafeFourCal(FourCal):
    def div(self): # 부모보다 자식의 기능이 우선으로 실행된다. 
        if self.second == 0:
            return 0
        else:
            return self.first / self.second

In [49]:
a = SafeFourCal(4,0)
a.div()

0

예외처리

In [ ]:
# try...except

In [50]:
try:
    f = open("없는 파일",'r')
except FileNotFoundError: 
    pass

In [51]:
class Bird:
    def fly(self):
        raise NotImplementedEerror # 일부러 오류 발생시킴

In [55]:
class Eagle(Bird):
    def fly(self): # 오버라이딩으로 오류없이 그래로 실행된다. 
        print("very fast")

In [56]:
eagle = Eagle()

In [57]:
eagle.fly()

very fast

예외 만들기

In [58]:
class MyError(Exception):
    pass

In [59]:
def say_nick(nick):
    if nick == '바보':
        raise MyError()
    print(nick)

In [60]:
say_nick('천사')

천사

In [61]:
say_nick('바보')

MyError:

In [62]:
try:
    say_nick('천사')
    say_nick('바보')
except MyError: # MrError에서 출력되는 에러코드 대신 출력 
    print('허용되지 않는 별명입니다.')

천사
허용되지 않는 별명입니다.

In [65]:
# 오류 메시지 사용하기 

class MyError(Exception):
    def __str__(self):
        return '허용되지 않는 별명입니다.'

In [66]:
try:
    say_nick('천사')
    say_nick('바보')
except MyError as e: 
    print(e)

천사
허용되지 않는 별명입니다.

내장 함수

In [68]:
# 이미 만들어져 있는 것을 찾자.;;
# print, del, type 등도 내장함수이다.

In [69]:
abs(-3) # 절대값

3

In [70]:
all([1,2,3]) # 모든 요소가 참인가?
# 반드시 리스트로 넣을 것

True

In [71]:
all([1,2,3,0])

False

In [72]:
any([1,2,3,0]) # 하나라도 참이면 참. 모두 거짓이면 거짓.
# all이 &&라면 any는 ||의 개념
# 반드시 리스트로 넣을 것

True

In [73]:
any([])

False

In [75]:
chr(97) # ASCII코드 활용

'a'

In [76]:
int(57)

57

In [77]:
chr(57) # 단, 캐릭터형으로 형태를 맞출 것

'9'

In [78]:
dir([1,2,3]) # 리스트로 목록 출력

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [79]:
dir({'1':'a'}) # 딕셔너리 형태로 목록 출력

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [80]:
divmod(7,3) # 몫과 나머지 동시에 구하기

(2, 1)

In [81]:
# enumerate: '열거하다'라는 뜻. 순서가 있는 자료형(리스트, 튜플, 문자열)을 
# 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 돌려준다. 
# 순서를 알아낼 필요가 있을 때 사용. 

for i, name in enumerate(['body','foo','bar']):
    print(i,name)

0 body
1 foo
2 bar

In [82]:
# filter 

def positive(l):
    result = []
    for i in l:
        if i > 0: # 양수만 찾아서 리스트에 추가
            result.append(i)
    return result

In [83]:
print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

In [87]:
def positive(x):
    return x > 0

print(list(filter(positive,[1,-3,2,0,-5,6])))
# filter는 첫 번째 인수로 함수 이름을, 두 번째 인수로 그 함수에 차례로 들어갈 
# 반복 가능한 자료형을 받는다.

[1, 2, 6]

In [88]:
# id: 주소값(위치값) 찾기 

a = 3

id(a)

140732801427296

In [89]:
id(3)

140732801427296

In [90]:
b = a

In [91]:
id(b)

140732801427296

In [93]:
# input 

a = input() # input은 무조건 str으로 저장된다.

hi

In [94]:
b = input('입력하세요: ')

입력하세요: ㅇㅇㅇ

In [95]:
type(b)

str

In [99]:
# int: 정수. 형변환할때 사용 

c = int(input('입력하세요: '))
# 단, 이 경우 문자가 들어가면 오류가 뜬다.

입력하세요: 1

In [100]:
type(c)

int

In [101]:
# len: 길이 출력 

len('python')

6

In [102]:
len('py thon') # 공백(띄어쓰기)도 글자이다.

7

In [103]:
len([1,2,3])

3

In [104]:
# list 

list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [105]:
list((1,2,3)) 

# 주의! 튜플의 괄호와 리스트 함수의 괄호가 헷갈린다. 
# 튜플은 직접 고칠 수 없으니 리스트로 변경해 수정할 수 있다.

[1, 2, 3]

In [106]:
# map 

def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number * 2) # 결과값을 result에 찍어 출력
    return result

In [108]:
result = two_times([1,2,3,4])
print(result)

[2, 4, 6, 8]

In [109]:
def two_times(x):
    return x * 2

In [111]:
list(map(two_times,[1,2,3,4]))

# map(첫번째 요소,두번째요소)
# 첫번째 요소에는 함수명. 두번째 요소에는 리스트와 같은 값이 들어온다. 
# 함수에 걸린 식을 두 번째 요소의 값을 각각 대입해 계산해준다.

[2, 4, 6, 8]

In [112]:
# max: 최대값

max([1,2,3])

3

In [113]:
max('python') # 글자도 최대값이 있다.

'y'

In [114]:
# min: 최소값 

min(1,2,3)

1

In [115]:
min('python')

'h'

In [116]:
# open: 파일 읽기, 쓰기, 수정하기 할때 사용

In [117]:
# ord: 문자의 ASCII값을 돌려주는 함수 
# chr과 반대.

ord('a')

97

In [118]:
chr(97)

'a'

In [119]:
# range
# for문과 많이 쓰인다.

list(range(5)) # 시작점 0, 5개 출력

[0, 1, 2, 3, 4]

In [120]:
list(range(5,10)) # 시작점 5, 10미만까지 출력

[5, 6, 7, 8, 9]

In [121]:
list(range(1,10,2)) # 1부터 10미만까지 2씩 증가시킨 값을 출력

[1, 3, 5, 7, 9]

In [123]:
list(range(0,-10,-1)) # 음수도 가능

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [124]:
# round: 반올림 

round(4.6)

5

In [125]:
round(2.1)

2

In [126]:
round(5.678,2) # 소수점 2자리까지 출력

5.68

In [127]:
# str: 문자열로 형 변환

str(3)

'3'

In [130]:
type(str(3))

str

In [132]:
# upper: 대문자로 변경 
# lower: 소문자로 변경

str('hi'.upper())

'HI'

In [133]:
str('HI'.lower())

'hi'

In [135]:
# sum: 모든 요소의 합 
# 리스트 또는 튜플로 넣어줘야 한다. 

sum([1,2,3])

6

In [137]:
# Quiz 평균 구하기(함수 2개 사용)

a = [332, 342, 456]
sum(a) / len(a)

376.6666666666667

In [138]:
round(sum(a)/len(a),2)

376.67

In [140]:
# Quiz 2. 평균 구하기(함수 1개 사용)

import numpy as np # numpy 패키지 불러오기

a = np.array([332, 342, 456]) # 배열(?) 생성
a.mean() # 평균 구하기

376.6666666666667

In [141]:
# type: 타입 확인

In [143]:
# zip 
# 두 개 이상의 요소를 엮어준다. 단, 동일한 개수로 이루어진 자료형이 필요.

list(zip([1,2,3],[4,5,6],[7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [144]:
list(zip('abc','def','ghi'))

[('a', 'd', 'g'), ('b', 'e', 'h'), ('c', 'f', 'i')]