In [1]:
1 + 1

2

In [3]:
3 * 9

27

In [4]:
a = 1
b = 2
a + b

3

In [5]:
a = "Python"
print(a)

Python

In [6]:
a

'Python'

In [7]:
a = 3
if a > 1:
    print("a is geater than 1")

a is geater than 1

In [8]:
i = 0
while i < 3: # while은 돌려야할 횟수가 명확하지 않을 경우 사용
    i = i + 1
    print(i)

1
2
3

In [9]:
for a in [1,2,3]: # for는 돌릴 횟수가 명확할 때 사용
    print(a)

1
2
3

In [10]:
def add(a, b):
    return a + b

In [11]:
add(3,4)

7

숫자형

In [13]:
# 나머지 연산자 

7 % 3

1

In [14]:
3 % 7

3

In [15]:
12 % 2 # 2로 나눠 나머지가 0이 나오면 무조건 짝수, 1이 나오면 무조건 홀수이다.

0

In [16]:
30 % 5 # 특정 수로 나눈 나머지가 0이면 그 수의 배수이다.

0

In [17]:
# 몫 연산자 

7 // 4

1

In [18]:
39 // 4

9

문자열

In [19]:
'Life is too short, You need Python'

'Life is too short, You need Python'

In [20]:
"Python is fun"

'Python is fun'

In [21]:
'''Life is too short, You need python'''

'Life is too short, You need python'

In [22]:
"""Life is too short, You need python"""

'Life is too short, You need python'

In [23]:
"Python's favorite food is perl" # 어퍼스트로피 포함하기

"Python's favorite food is perl"

In [24]:
'"Python is very easy." he says.' # 문자열 표시로서의 '', 문자로서의 ""

'"Python is very easy." he says.'

In [25]:
food = 'Python\'s favorite food is perl' # 백 슬래시(\)를 사용해 특수 문자 찍기
say = "\"Python is very easy.\" he says."

In [26]:
food

"Python's favorite food is perl"

In [27]:
say

'"Python is very easy." he says.'

In [28]:
multiline = "Life is too short\nYou need python"

In [29]:
multiline

'Life is too short\nYou need python'

In [30]:
multiline = """ 
Life is too short
You need python
""" # 주피터에서는 줄바뀜이 보이지 않는다

In [31]:
multiline

'\nLife is too short\nYou need python\n'

In [32]:
# 많이쓰는 이스케이프 문자: \n \t \/ \' \" 등

In [34]:
# 문자열 연산하기 

head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [35]:
a = 'Python'
a * 2

'PythonPython'

In [37]:
print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

In [38]:
a = "Life is too short" # Len(): 길이(개수)를 구하는 함수
len(a) # 빈칸도 하나의 글자로 인식한다.

17

문자열 인덱싱, 슬라이싱

In [39]:
a = 'Life is too short, You need Python'

In [40]:
a[3] # python의 인덱스는 0에서 시작한다. 그러므로 인덱스 3은 4번째 자리를 뜻한다.

'e'

In [41]:
a[-1] # 뒤에서부터 세어 첫 번째 문자를 말한다.

'n'

In [42]:
a[-0] # = a[0]

'L'

In [45]:
b = a[0:4] # 뒷자리는 '이하'가 아닌 '미만'까지 이다. 
# [0:4]는 인덱스 3까지 출력한다.

In [46]:
b

'Life'

In [47]:
a[0:5] # 빈칸도 글자이다.

'Life '

In [48]:
a[5:7] # 5, 6 두 글자 출력

'is'

In [51]:
a[19:] # 뒤를 빼면 끝까지 출력

'You need Python'

In [52]:
a[:17] # 앞을 생략하면 처음부터 출력

'Life is too short'

In [53]:
a[:] # 둘다 생략하면 전부를 출력

'Life is too short, You need Python'

In [54]:
a[19:-7] # 음수로도 사용할 수 있다.

'You need'

In [55]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]

In [56]:
year

'2001'

In [57]:
day

'0331'

In [58]:
weather

'Rainy'

In [59]:
a = "Pithon"
a[1]

'i'

In [60]:
a[1] = 'y' # 인덱싱으로는 수정이 불가능하다.

TypeError: 'str' object does not support item assignment

In [61]:
a[:1]

'P'

In [62]:
a[2:]

'thon'

In [63]:
a[:1] + 'y' + a[2:]

'Python'

문자열 포매팅

In [64]:
"I eat %d apples." % 3 # 숫자 바로 대입

'I eat 3 apples.'

In [65]:
"I eat %s apples." % "five" # 문자열 바로 대입. 
# 문자열을 넣을 때는 따옴표가 반드시 있어야한다.

'I eat five apples.'

In [66]:
number = 3 # 숫자 값을 나타내는 변수로 대입
"I eat %d apples." % number

'I eat 3 apples.'

In [67]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [68]:
# 문자열 포맷 코드 
# %s 문자열, %c 문자 1개, %d 정수, %f 부동소수, %o 8진수, %x 16진수, %% 문자 % 출력

In [69]:
"Error is %d%%." % 98

'Error is 98%.'

포맷 코드와 숫자 함께 사용하기

In [70]:
"%10s" % "hi" # 오른쪽 정렬. 나머지는 공백

'        hi'

In [71]:
"%-10sjane." % 'hi' # 추가되는 값은 왼쪽 정렬.

'hi        jane.'

In [73]:
"%0.4f" % 4.32134234 # 소수점아래 4자리까지 출력

'4.3213'

In [74]:
"%10.4f" % 4.32134234 # 전체 길이가 10인 공간에 소수점 4개까지 출력

'    4.3213'

format

In [75]:
"I eat {0} apples".format(3) # 숫자 대입

'I eat 3 apples'

In [76]:
"i eat {0} apples".format("five") # 문자 대입

'i eat five apples'

In [77]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [78]:
# 두 개 이상의 값 넣기

number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)
# {} 안의 값도 인덱스 순서를 따른다. 이름을 혼용할 때는 예외

'I ate 10 apples. so I was sick for three days.'

In [79]:
# 이름으로 넣기

"I ate {number} apples. so I was sick for {day} days.".format(number = 10, day = 3)

'I ate 10 apples. so I was sick for 3 days.'

In [80]:
# 인덱스와 이름을 혼용해 넣기

"I ate {0} apples. so I was sick for {day} days.".format(10, day = 3)

'I ate 10 apples. so I was sick for 3 days.'

In [81]:
"{0:<10}".format("hi") # 왼쪽 정렬

'hi        '

In [82]:
"{0:>10}".format("hi") # 오른쪽 정렬

'        hi'

In [83]:
"{0:^10}".format("hi") # 가운데 정렬

'    hi    '

문자열 관련 함수들

In [84]:
# 문자 개수 세기(count)

a = "hobby"
a.count('b')

2

In [85]:
# 위치 찾기1(find)

a = "Python is the best choice"
a.find('b')

14

In [86]:
a.find('k') # 문자열이 존재하지 않으면 -1을 반환한다.

-1

In [87]:
# 위치 찾기2(index)

a = "Life is too short"
a.index('t') # 문자열 중 찾는 문자가 맨 처음 나온 위치를 반환

8

In [88]:
a.index('k') # 없는 것을 입력하면 find과 달리 오류 발생

ValueError: substring not found

In [89]:
# 문자열 삽입(Join)

",".join('abcd') # 각 문자 사이에 심표 삽입

'a,b,c,d'

In [90]:
",".join(['a','b','c','d']) # 리스트, 튜플도 사용가능

'a,b,c,d'

In [91]:
# 소문자를 대문자로 바꾸기(upper)

a = "hi"
a.upper() # a의 원 값을 바꾼 것은 아니다.

'HI'

In [92]:
# 대문자를 소문자로 바꾸기(lower)

a = "HI"
a.lower()

'hi'

In [93]:
# 공백 지우기(lstrip(왼쪽 공백), rstrip(오른쪽 공백), strip(양쪽 공백))

a = " hi "
a.strip()

'hi'

In [94]:
# 문자열 바꾸기(replace)

a = "Life is too short"
a.replace("Life", "Your leg") # 특정 문자열로 치환

'Your leg is too short'

In [95]:
# 문자열 나누기(split)

a = "Life is too short"
a.split() 
# 괄호 안에 아무 값도 넣어주지 않으면 공백(space, tab, enter 등)을 기준으로 나누어준다.
# 이렇게 나눈 값은 리스트로 반환해 준다.

['Life', 'is', 'too', 'short']

In [96]:
b = "a:b:c:d"
b.split(':') # ':'을 기준으로 나누기

['a', 'b', 'c', 'd']

리스트(list) 자료형

In [97]:
odd = [1, 3, 5, 7, 9]

In [98]:
# 리스트이름 = [요소1, 요소2, 요소3, .....]
# 대괄호 주의! 

a = [] # a = list() 
b = [1,2,3]
c = ['life', 'is', 'short']
d = [1,2,'Life','is'] # 다른 형식 혼용 가능 
e = [1,2,['Life','Is']] # 리스트 안의 리스트

In [99]:
a = [1,2,3]
a

[1, 2, 3]

In [100]:
a[0]

1

In [101]:
a[0] + a[2]

4

In [102]:
a[-1]

3

In [103]:
a = [1,2,3,['a','b','c']]

In [104]:
a[0]

1

In [105]:
a[-1]

['a', 'b', 'c']

In [106]:
a[3] # 덩어리째로 반환

['a', 'b', 'c']

In [107]:
a[-1][0] # 리스트 안의 리스트의 값 반환하기

'a'

In [108]:
a = [1,2,3,4,5]
a[0:2] # 인덱스 2는 포함하지 않는다. 문자열 자료형과 동일

[1, 2]

리스트 연산하기

In [109]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [110]:
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [111]:
# 리스트 길이 구하기 

a = [1,2,3]
len(a)

3

In [112]:
a = [1,2,3]
a[2] + 'hi'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [113]:
str(a[2]) + 'hi' # 인덱스 값을 문자열로 변환해 계산

'3hi'

In [114]:
a[2] # 정수

3

In [115]:
str(a[2]) # 문자열

'3'

리스트의 수정과 삭제 # 튜플은 수정 불가

In [116]:
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [117]:
# del 함수를 사용해 리스트 요소 삭제하기 

a = [1,2,3]
del a[1] # 지우는 방법에는 remove, pop도 있다.
a

[1, 3]

In [118]:
a = [1,2,3,4,5]
del a[2:] # 슬라이싱으로 한 번에 지우는 것도 가능하다.
a

[1, 2]

리스트 관련 함수들

In [119]:
# 리스트에 요소 추가(append). 매우 많이 사용

a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [120]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [121]:
# 리스트 정렬(sort)

a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [122]:
a = ['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [123]:
# 리스트 뒤집기(reverse)

a = ['a','c','b']
a.reverse() # 그 상태 그대로의 역순을 나열
a

['b', 'c', 'a']

In [128]:
a.sort()
a.reverse()
a

['c', 'b', 'a']

In [133]:
# 위치 반환(index)

a = ['a','b','c']
a.index('a')

0

In [134]:
a.index('d') # 찾는값이 없으면 에러 출력

ValueError: 'd' is not in list

In [ ]:
# 리스트에 요소 삽입(insert)