<a href="https://colab.research.google.com/github/gohjungho/PythonBasic/blob/main/21.02.24_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1000미만의 3과 5의 배수들의 합 구하기 

sum = 1
for n in range(1,1000): # 1~999
  if n % 3 == 0 or n % 5 == 0: # 3 또는 5의 배수 찾기
    sum += n # sum = sum + n

print(sum)

233168

In [14]:
n = 1
sum = 0
while n < 1000:
  if n % 3 == 0 or n % 5 == 0: 
    sum += n 
  n += 1 # 1씩 더해주지 않으면 무한루프 돈다. 들여쓰기 주의....  

print(sum)

233168