<a href="https://colab.research.google.com/github/gohjungho/PythonBasic/blob/main/21_02_26(Quiz27_46).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# Q27. 딕셔너리 만들기 
# 학생의 이름을 key값으로 input 받아 수학점수를 value값으로 주는 딕셔너리 만들기

key = input("학생 이름을 입력해주세요: ").split()
value = map(int, input('점수: ').split())

print(dict(zip(key,value)))

학생 이름을 입력해주세요: Yujin Hyewon
점수: 70 100
{'Yujin': 70, 'Hyewon': 100}

In [6]:
# 숫자로 입력 받아서 처리 

a = map(int, input().split())

print(a)

70 100
<map object at 0x7f14909cac10>

In [9]:
a = [1,2,3,4]
b = [100,200,300,400]

print(list(zip(a,b)))

[(1, 100), (2, 200), (3, 300), (4, 400)]

In [38]:
# Q28 2-gram 
# '2-gram'이란 문자열에서 2개의 연속된 요소를 출력하기 

a = input()

for i in range(len(a) - 1): # range(1, len(a))
  print(a[i]+a[i+1])

Hello
He
el
ll
lo

In [46]:
# Q29 대문자만 지나가세요 
# 알파벳 하나를 입력하고 그 알파벳이 대문자이면 YES, 아니면 NO를 출력

alpha = input()

if alpha >= chr(65) and alpha <= chr(90): # ord(alpha) >= 65 and ord(alpha) <= 90
  print("YES")
else: 
  print("NO")

A
YES

In [ ]:
isupper 대문자인지 확인 
islower 소문자인지 확인 
isdigit 숫자인지 확인 

ord()  ASCII 코드값을 확인 
chr()  위와 반대....

In [44]:
alpha = input()

if alpha.isupper():
  print("YES")
else:
  print("NO")

e
NO

In [55]:
# Q30 문자열 속 문자 찾기 
# 입력으로 첫 줄에 문자열이 주어지고 둘째 줄에 찾을 문자가 주어지면 
# 그 문자가 시작하는 index를 반환하는 프로그램 만들기 

txt = input()
find_txt = input()

print(txt.find(find_txt)) # 찾는 값이 없을 때 -1 출력 
# print(txt.index(find_txt)) # 만약 찾는 값이 없을 때 오류 출력

pineapple
apple
4

In [56]:
# Q31 파이썬 자료형의 복잡도 
# 다음 리스트의 내장함수의 시간 복잡도가 ○(1, Big-O)이 아닌 것은? 
# 1) l[i]
# 2) l.append(5)
# 3) l[a:b]
# 4) l.pop()
# 5) l.clear()

# 답은 3번

In [59]:
# Q32 문자열 만들기 
# 문자열을 입력받으면 단어의 개수를 출력하는 프로그램 만들기 

txt = input().split()
print(len(txt))

저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐
9

In [ ]:
# input
# split
# len

# strip   양쪽 공백 지우기 
# lstrip  왼쪽 공백 지우기
# rstrip  오른쪽 공백 지우기

In [71]:
# 032-1 맨뒤 공백을 지워주는 함수를 추가해보자 

txt = input()
a = txt.strip().split()

print(a)
print(len(a))

 저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐
['저', '넓은', '세상을', '네', '눈앞에', '그려봐', '네', '진심을', '느껴봐']
9

In [94]:
# Q33 거꾸로 출력하기 
# 한 줄에 여러 개의 숫자가 입력되면, 역순으로 그 숫자들을 하나씩 출력하는 프로그램 만들기 

num = input().split()
a = reversed(num)

print(' '.join(a))

2 4 6 7 8
8 7 6 4 2

In [92]:
txt = input()
txt2 = txt.split() # split을 하면 자동으로 리스트로 정리되어 반환한다. 
txt3 = [int(i) for i in txt2] # 문자 1, 2, 3, 4, 5를 숫자로 변경

for i in range(len(txt3) - 1, -1, -1):
  print(txt3[i], end=' ')

2 4 6 7 8
8 7 6 4 2

In [93]:
a = input().split()

for i in range(0, len(a)):
  print(a.pop(), end=' ')

2 4 6 7 8
8 7 6 4 2

In [113]:
# Q34 sort 구현하기 
# 키가 주어지면 순서대로 제대로 섰는지 확인하는 프로그램 만들기 

line = input().split()
line_int = [int(i) for i in line]
if line_int == sorted(line_int):
  print('YES')
else: 
  print('NO')

3 2 5 7 9
NO

In [102]:
# sorted & sort

list = [1, 3, 2]
print(list.sort()) # None   print(list) -> [1, 2, 3]
print(sorted(list)) # [1, 2, 3]   print(list) -> [1, 3, 2]

# <list>.sort()를 사용하면 원본 리스트 자체의 순서를 변화시킨다. 
# sorted(<list>)를 사용하면 정렬된 새로운 리스트를 반환 받는다. 
# <list>.sort()는 새로운 복사본을 만들지 않기 때문에 sorted(<list>)보다 빠르다.

None

In [126]:
# Q36 구구단 출력하기 

num = int(input())

for i in range(1,10):
  print(num * i, end=' ')

2
2 4 6 8 10 12 14 16 18

In [5]:
# Q37 count 사용하기 
# 학생들이 뽑은 후보들을 입력받으면 뽑힌 학생의 이름과 받은 표 수를 출력하는 프로그램

a = input().split()
b = list(set(a))

max = 0 # 최대값 초기화

for i in range(len(b)): # 0, 1, 2 
  # print('현재: %d" % max)
  # print('%d" % a.count(b[i]))
  if a.count(b[i]) > a.count(b[max]):
    max = i # 최대값 갱신 

print('%s(이)가 총 %d표로 반장이 되었습니다.' % (b[max], a.count(b[max])))

원영 원영 은비 은비 은비 은비 채연 채연
은비(이)가 총 4표로 반장이 되었습니다.

In [1]:
a = input().split()
b = list(set(a))

print(a)
print(b)

# 원영 원영 은비 은비 은비 은비 채연 채연

원영 원영 은비 은비 은비 은비 채연 채연
['원영', '원영', '은비', '은비', '은비', '은비', '채연', '채연']
['원영', '채연', '은비']

In [8]:
# Q39 오타 수정하기 
# 문장이 입력되면 모든 q를 e로 바꾸는 프로그램 만들기 

a = input()
print(a.replace('q', 'e'))

qqqqqqqqq qqqqq qqqq
eeeeeeeee eeeee eeee

In [24]:
# Q41 소수판별
# 숫자가 주어지면 소수인지 아닌지 판별하는 프로그램 만들기 
# 에라토스테네스의 체

a = int(input()) # 숫자를 입력 받는다. 
re = 0 # re 변수 초기화 

for i in range(1, a + 1): # 반복문 (그 수까지)
  if a % i == 0: # 조건 입력받은 수를 그 수 앞에 모든 수로 나눈 나머지 값이 0이면
    re += 1 # re 값을 하나씩 증가 

if re == 2: # re 값이 2면 
  print("YES") # 소수 
else: # 아니면 
  print("NO") # NO

1
NO

In [2]:
# 에라토스테네스의 체 (위키백과)

def prime_list(n):
    # 에라토스테네스의 체 초기화: n개 요소에 True 설정(소수로 간주)
    sieve = [True] * n

    # n의 최대 약수가 sqrt(n) 이하이므로 i=sqrt(n)까지 검사
    m = int(n ** 0.5)
    for i in range(2, m + 1):
        if sieve[i] == True:           # i가 소수인 경우
            for j in range(i+i, n, i): # i이후 i의 배수들을 False 판정
                sieve[j] = False

    # 소수 목록 산출
    return [i for i in range(2, n) if sieve[i] == True]

print(prime_list(20))
max(prime_list(1000000))

[2, 3, 5, 7, 11, 13, 17, 19]

999983

In [4]:
# Q44 각 자리수의 합 
# 사용자가 입력한 양의 정수의 각 자리수의 합을 구하는 프로그램 만들기 

# A-1
# print(sum(map(int, input())))

# A-2 
# n = list(map(int, input()))

# for i in n:
#   sum += i # 왜 자꾸 오류나지???

# print(sum) 

# A-3 

sum = 0
for i in input():
  sum += int(i)

print(sum)

1234
10

In [15]:
# Q46 str 자료형의 응용 
# 1~20의 모든 숫자를 일렬로 놓고 모든 자릿수의 총 합 구하기 

total = 0
for i in list(range(1,21)):
  for j in str(i):
    total += int(j)

print(total)

# a = 0
# total = 0

# while a < 21:
#     total = total + a
#     a = a + 1

# print(total)

# 210

102

In [26]:
# 수를 입력 받아 일렬로 나열한 그 수까지의 합 구하기 

num = int(input())
l = []
for i in range(num+1):
  l.append(i)

total = 0
for i in l:
  for j in str(i):
    total += int(j)

print(total)

20
102