<a href="https://colab.research.google.com/github/gohjungho/PythonBasic/blob/main/21_02_19(Quiz26).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Q1 

nums = [100,200,300,400,500]
# nums.pop()
# nums.pop()
del nums[3:]
nums

[100, 200, 300]

In [9]:
nums = [100,200,300,400,500]
nums.pop()
nums.pop()

400

In [10]:
nums

[100, 200, 300]

In [11]:
nums = [100,200,300,400,500]
nums = nums[:3]

In [13]:
nums

[100, 200, 300]

In [14]:
# Q2

l = [200,100,300]
l.insert(2,10000)
print(l)

[200, 100, 10000, 300]

In [15]:
# Q3 

l = [100,200,300]
print(type(l))

# 1) class 'str'
# 2) class 'int'
# 3) class 'list'
# 4) class 'tuple'

<class 'list'>

In [17]:
a = 'p'
type(a)

str

In [22]:
a = 10
b = 2
for i in range(1,5,2):
  a += i

print(a+b)

16

In [24]:
_age = a

In [29]:
d = {'weight':78, 'weight':84} # 키값이 중복될 시 마지막 것이 나온다.
print(d['weight'])

84

In [30]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/',end=' ')
print(hour, minute, second, sep=':')

# 2019/04/26 11:34:27

2019/04/26 11:34:27

In [80]:
# Q10 트리 만들기 

n = int(input("단 수: "))
for i in range(1, n + 1):
  print(' ' * (n - i) + '*' * (i * 2 - 1))

단 수: 5
    *
   ***
  *****
 *******
*********

In [70]:
# Q11 for를 이용한 기본 활용 

# 1~100을 모두 더하는 Code를 <pass> 부분에 완성하세요. for를 사용해야 합니다. 

s = 0 
for i in range(1,100+1):
  s += i

print(s)

5050

In [87]:
# Q12 게임 캐릭터 클래스 만들기 

# 다음 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와 '파이어볼'이 출력되게 만드시오.
# 주어진 소스코드를 수정해선 안 됩니다. 

class Wizard:
  def __init__(self, health, mana, armor):
    self.health = health
    self.mana = mana
    self.armor = armor

  def attack(self):
    print('파이어볼')
    
x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

# 545 210 10 
# 파이어볼

545 210 10
파이어볼

In [85]:
# Q13 몇 번째 행성인가요? 

# 우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 
# 총 8개입니다. 저희는 우리 태양계의 n번째 행성이 무엇인지 알고 싶습니다. 

# 입력으로 행성의 순서를 나타내는 숫자 n이 입력됩니다. 예를들어 수성은 첫 번째 행성입니다. 
# 1 

# 출력으로 그 순서에 해당하는 행성의 이름을 출력해 주세요. 
# 수성 

def planet(n):
  universe = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
  return print(universe[n-1])

n = int(input('태양계에는 8개의 행성이 있어. 몇 번째 행성을 알고 싶어?: '))

planet(n)

태양계에는 8개의 행성이 있어. 몇 번째 행성을 알고 싶어?: 2
금성

In [88]:
# Q13 정답 

planets = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

n = int(input('몇 번째 행성을 알고 싶으신가요?: '))
print(planets[n-1])

# n = int(input('몇 번째 행성을 알고 싶으신가요?: ')) -1
# print(planets[n])

몇 번째 행성을 알고 싶으신가요?: 1
수성

In [90]:
# Q14 3의 배수인가요? 

# 임의의 수가 3의 배수이면 '짝'을 3의 배수가 아니라면 n을 그대로 출력
# 입력: 3 / 출력: 짝 

num = int(input('숫자를 입력해주세요.: '))

if num % 3 == 0:
  print('짝')
else: 
  print(num)

숫자를 입력해주세요.: 5
5

In [95]:
# Q15 자기소개 

# 입력: 김승주 / 출력: 안녕하세요. 저는 김승주입니다. 

name = input('이름이 무엇인가요?: ')
print('안녕하세요. 저는 %s입니다.' % name)
# print('안녕하세요. 저는 {}}입니다.'.format(name))

이름이 무엇인가요?: brad
안녕하세요. 저는 brad입니다.

In [105]:
# Q16 로꾸거 - 글자 뒤집기

a = input('문자열을 입력해 주세요.: ')
print(a[::-1]) # 입력받은 글자 그대로 뒤집기 

# a = input('문자열을 입력해 주세요.: ')
# print(''.join(reversed(a)))

# a = input('문자열을 입력해 주세요.: ')
# for i in range(len(a), 0, -1): 
#   print(a[i - 1], end=' ') # 뒤에서부터 하나씩 출력 

# 오답 
# a = list(input('문자열을 입력해 주세요.: ')) 
# a.reverse()
# print(a) # 거꾸로 -> ['로', '꾸', '거']

문자열을 입력해 주세요.: 거꾸로
로꾸거

In [93]:
# Q17 놀이기구 키 제한 

# 키가 150이상이면 YES, 미만이면 NO를 출력 

height = int(input("키가 어떻게 되나요?: "))
if height < 150:
  print('NO')
else:
  print('YES')

키가 어떻게 되나요?: 156
YES

In [123]:
# Q18 평균 점수 구하기 

nums = list(map(int,input().split()))
print(int(sum(nums) / len(nums))) # 어디가 틀린 걸까?

10 20 30

TypeError: ignored

In [122]:
# Q19 제곱을 구하자 
# a, b를 입력받아 a의 b승을 구하자. 

n = list(map(int, input().split()))
print(n[0] ** n[1])

# a, b = map(int, input().split())
# print(a ** b)

5 2
25

In [125]:
# Q20 몫과 나머지 
# 두 수를 받아 첫 번째 수로 두 번째 수 나누어 몫과 나머지 구하기 

n = list(map(int, input().split()))
print(n[0] // n[1], n[0] % n[1])

51 6
8 3

In [132]:
# Q21 set이 아닌 것은?

# 1. x = {1,2,3,4,5,6,7}
# 2. x = {} -> dict
# 3. x = set('python')
# 4. x = set(range(5))
# 5. x = set()

type(x)

set

In [133]:
# Q22 배수인지 확인하기 

# Q23 print(10/2)의 결과는 5가 맞을까? -> x. 5.0이다

In [140]:
# Q24 대문자로 바꿔주세요! 

a = input('')
print(a.upper())

# print(input().upper())

hello
HELLO

In [150]:
# Q25 원의 넓이 구하기 

def circle(r):
  return r * r * 3.14

circle(int(input('반지름: ')))

반지름: 3

28.26

In [173]:
# Q26 행성 문제2 
# 행성의 한글 이름을 입력하면 영어 이름을 반환하는 프로그램 만들기 (dict 사용)
# 찾는 행성이 없을 경우 에러를 발생시키지 말 것 

planet = { # dict는 가독성을 위해 쉼표에서 잘라주자. 
    '수성': 'Mercury', 
    '금성': 'Venus', 
    '지구': 'Earth', 
    '화성': 'Mars', 
    '목성': 'Jupiter', 
    '토성': 'Saturn', 
    '천왕성': 'Uranus', 
    '해왕성': 'Neptune'
}

try:
  a = input()
  print(planet[a])
except KeyError: 
  print('None') 

# 다른 풀이 

# if a not in planet.keys():
#   print('없습니다')
# else:
#   print(planet[a])

# print(planet.get(input()))

사과
None