리스트(List)

In [1]:
odd = [1,3,5,7,9] # 리스트명 = [요소1,요소2,요소3,...]

In [2]:
a = []
b = [1,2,3]
c = ['Life', 'is', 'too', 'short']
d = [1,2,'Life', 'is'] # 숫자, 문자 혼용 가능
e = [1,2,['Life','is']] # 리스트 내 리스트 가능

In [3]:
a = [1,2,3]
a

[1, 2, 3]

In [4]:
a[0]

1

In [6]:
a[0]+a[2]

4

In [7]:
a[-1]

3

In [8]:
a = [1,2,3,['a','b','c']]

In [9]:
a[-1]

['a', 'b', 'c']

In [11]:
a[3][2]

'c'

In [12]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [13]:
a = "12345"

In [14]:
a[0:2]

'12'

In [15]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [16]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
len(a) # 길이

3

In [18]:
len(a*3)

9

In [19]:
a[2] = 4
a

[1, 2, 4]

In [20]:
del a[1] # 리스트는 수정, 삭제 가능 (튜플은 불가)
a

[1, 4]

In [21]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

In [22]:
# 리스트에 요소 추가(append)

a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [24]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6], [5, 6]]

In [25]:
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [26]:
a = ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [28]:
# 퀴즈

a = [2,3,1]
a.sort()
a.reverse() # a.sort(reverse = True)로 한줄로 적을 수도 있다.
a

[3, 2, 1]

In [30]:
a = [2,3,1]
a.sort(reverse = False) 
# reverse는 False로 하면 오름차순, True로 하면 내림차순
a

[1, 2, 3]

In [31]:
# 위치 찾기(index)
a = [1,2,3]
a.index(3)

2

In [32]:
a.index(4)

ValueError: 4 is not in list

In [33]:
# 위치지정 삽입하기(insert) 

a = [1,2,3]
a.insert(0,4) # .insert(넣을 위치, 넣을 값)
a

[4, 1, 2, 3]

In [34]:
# 제거하기(remove) 

a = [1,2,3,1,2,3]
a.remove(3) # 처음 나오는 값을 제거한다. 
a

[1, 2, 1, 2, 3]

In [36]:
# pop - 맨 끝을 하나씩 제거 

a = [1,2,3]
a.pop()

3

In [37]:
a

[1, 2]

In [38]:
a = [1,2,3]
a.pop(1) # 위치 지정 후 끄집어내기도 가능

2

In [39]:
a

[1, 3]

In [40]:
# 개수 세기 (count)

a = [1,2,3,1]
a.count(1)

2

In [41]:
# 리스트 확장(extend) - .extend(x) ()안에는 리스트만 들어가야 한다. 

a = [1,2,3]
a.extend([4,5])

In [42]:
a

[1, 2, 3, 4, 5]

튜플(Tuple)

In [43]:
# 튜플의 특징: 튜플은 생성, 수정, 삭제가 불가하다. 
# 리스트는 [], 튜플은 ()로 둘러싼다. 
# 리스트와 튜플은 구분해서 사용하는 것이 유리하다.

In [45]:
t1 = ()
t2 = (1,) # 요소가 하나일 때는 ,를 반드시 넣어야 한다. 
t3 = (1,2,3)
t4 = 1,2,3 # ()는 생략해도 무방하다. 
t5 = ('a','b',('ab','cd')) # 튜플 내 튜플 사용가능

In [46]:
t1 = (1,2,'a','b')
del t1[0] # 삭제 불가

TypeError: 'tuple' object doesn't support item deletion

In [47]:
t1[0] = 'c' # 수정 불가

TypeError: 'tuple' object does not support item assignment

In [48]:
t1[0] # 인덱싱, 슬라이싱, len() 전부 리스트와 같다.

1

In [49]:
t1[3]

'b'

In [50]:
t1[1:]

(2, 'a', 'b')

In [51]:
t2 = (3,4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [60]:
t2 * 2

2

In [62]:
len(t1)

4

딕셔너리

In [63]:
# "Key": "Value"
# 리스트, 튜플과 달리 순서가 없다(인덱싱, 슬라이싱 사용 불가!).
# 중괄호 {} 사용.

In [64]:
a = {1: 'hi'}

In [65]:
a = {'a': [1,2,3]}

In [67]:
# 딕셔너리 쌍 추가하기

a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [68]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [69]:
# 딕셔너리 요소 삭제하기 

del a[1] # key 값을 찾아 삭제(value 값까지 함께 삭제)
a

{2: 'b', 'name': 'pey'}

In [70]:
# key 값을 사용해 value 값 얻기

grade = {'pey': 10, 'julliet': 99}
grade['pey'] # 리스트, 튜플과 다르게 [] 안에 인덱스가 아닌 key가 들어간다.

10

In [71]:
grade['julliet']

99

In [72]:
a = {1: 'a', 2: 'b'}
a[1]

'a'

In [73]:
a[2]

'b'

In [74]:
dic = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
dic['name']

'pey'

In [75]:
dic['phone']

'0119993323'

In [76]:
dic['birth']

'1118'

In [77]:
# 딕셔너리 만들 때의 주의 사항 
# 1. key는 고유한 값이므로 중복되는 key값을 설정해 놓으면 
# 하나를 제외하고는 전부 무시된다.

a = {1: 'a', 1: 'b'} 
# key 값이 중복되는 경우 마지막에 저장된 값만 남는다. 
# 앞에 저장했던 {1: 'a'} 쌍은 무시된다. 
a

{1: 'b'}

In [79]:
# 2. key에는 리스트를 쓸 수 없다. 그러나 튜플은 사용 가능하다. 
# 리스트는 수정이 가능하나 튜플은 수정이 불가하기 때문이다. 
a = {[1,2]: 'a'}

TypeError: unhashable type: 'list'

In [ ]:
# key 리스트 만들기(keys)

In [ ]:
# value 리스트 만들기(values)

In [ ]:
# key, value 쌍 얻기(items)

In [ ]:
# key: value 쌍 모두 지우기(clear)

In [ ]:
# key로 value 얻기(get)
# a.get('name')과 a['name']은 동일한 결과값을 갖는다. 
# 단, 결과값이 없을 때 a['name']은 오류를 내는 반면, 
# a.get('name')은 None을 반환한다.

In [ ]:
# 해당 key가 딕셔너리 안에 있는지 조사하기(in)

집합(Set)

In [80]:
s1 = set([1,2,3])

In [81]:
s1

{1, 2, 3}

In [82]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [83]:
s = set() # 비어있는 집합을 생성 
s

set()

In [84]:
# 집합의 특징 
# 1. 중복을 허용하지 않는다. 
# 2. 순서가 없다(인덱싱, 슬라이싱 불가!). 
# 3. 필터 역할로 종종 사용.

In [85]:
l1 = list(s1)

In [86]:
l1

[1, 2, 3]

In [87]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [88]:
s1

{1, 2, 3}

In [89]:
# 교집합, 합집합, 차집합 구하기 

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [90]:
# 1. 교집합 (&, intersection: 동시에 만족)

s1 & s2

{4, 5, 6}

In [91]:
s1.intersection(s2) # 위와 같으나 쓰기 불편하다.

{4, 5, 6}

In [92]:
# 2. 합칩합 (|, union: 중복은 제거한 합계)

s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [93]:
s1.union(s2) # 결과값은 위와 같다.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [94]:
# 3. 차집합 (-, difference)

s1 - s2

{1, 2, 3}

In [95]:
s2 - s1

{7, 8, 9}

In [96]:
s1.difference(s2)

{1, 2, 3}

In [97]:
s2.difference(s1)

{7, 8, 9}

집합 관련 함수들

In [98]:
# 값 1개 추가하기(add)

s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [99]:
# 여러개 추가하기(update)

s1 = set([1,2,3])
s1.update([4,5,6]) # 괄호 안에 반드시 리스트 형태로 기입
s1

{1, 2, 3, 4, 5, 6}

In [101]:
# 특정 값 제거하기(remove)

s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

불(Bool)

In [102]:
# 참(True)과 거짓(False)을 나타낸다. 
# True와 False는 반드시 대문자로 시작해야만 한다.

In [103]:
a = True
b = False
type(a) # 데이터 타입을 알려주는 함수

bool

In [104]:
type(b)

bool

In [105]:
1 == 1

True

In [106]:
2 > 1

True

In [107]:
2 < 1

False

In [108]:
# 자료형의 참과 거짓 

# 값이 있으면 참, 값이 없거나(공백이면) 0이면 거짓.

In [114]:
a = [1,2,3,4]
while a: # while은 True일 때만 돌아간다. 
    print(a.pop())
    # pop으로 전부 삭제되고 []가 되었을때 값이 없으므로 거짓이므로 돌아가지 않는다.

4
3
2
1

In [117]:
if [1]:
    print('참')
else:
    print('거짓')

참

In [118]:
# 불 연산 

bool('python')

True

In [119]:
bool('')

False

In [120]:
bool([1,2,3])

True

In [121]:
bool([])

False

In [122]:
bool(0)

False

In [123]:
bool(3)

True

연습문제

In [124]:
# Q1 평균 구하기

a = 80
b = 75 
c = 55 

(a + b + c) / 3

70.0

In [125]:
# Q2 13의 홀짝 판별하기

13 % 2 == 0 # True면 짝수, False면 홀수

False

In [131]:
# Q3 문자열 슬라이싱 

a = "881120-1068234" # - 으로 인해 문자로 처리해줘야 한다. 

birth = a[:6]
birth

'881120'

In [132]:
number = a[7:]
number

'1068234'

In [133]:
# Q4 주민번호에서 성별을 나타내는 숫자 출력하기 

pin = "881120-1068234"

sex = pin[7]
sex

'1'

In [135]:
# Q5 replae 함수 사용하기

IF 문

In [137]:
# Ada Lovelace - 인류 최초의 프로그래머. 최초로 인공지능 구상을 함

In [138]:
money = True 
if money:
    print("택시를 타고 가라")
else: 
    print("걸어 가라")

택시를 타고 가라

In [140]:
money = True
if money: 
    print("택시를")
    print("타고")
    print("가라")

택시를
타고
가라

In [141]:
money = 2000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

걸어 가라

and, or, not 

x or y # 둘 중 하나만 참이어도 참이다 
x and y # 둘 모두 참이어야 참이다 
not x # x가 거짓이면 참이다

In [144]:
money = 5000
card = True
if money >= 3000 and card:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [145]:
1 in [1,2,3]

True

In [146]:
1 not in [1,2,3]

False

In [147]:
'a' in ('a','b','c')

True

In [148]:
'j' not in 'python'

True

In [149]:
pocket = ['paper', 'cellphone','money']

if 'money' in pocket:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [150]:
# pass: 아무 일도 하지 않고 넘어감

In [151]:
# 조건 늘리기 (elif)

pocket = ['paper', 'handphone']
card = True

if 'money' in pocket:
    print("택시를 타고 가라")
else:
    if card:
        print("택시를 타고 가라")
    else:
        print("걸어 가라")

택시를 타고 가라

In [154]:
pocket = ['paper', 'handphone']
card = True

if 'money' in pocket: pass
else: print('카드를 써라')

# if 'money' in pocket:
#     print("택시를 타고 가라")
# elif card:    # elif는 무제한 넣을 수 있다. 
#     print("택시를 타고 가라")
# else:
#     print("걸어 가라")

카드를 써라

In [153]:
# 'L-Ctrl + /' : 여러 줄 동시 주석 처리. 되돌리는 것도 같다.

In [156]:
score = 90

if score >= 60:
    message = "success"
else:
    message = "failure"

# 한 줄로 줄이면.... (단, 이렇게 쓰지는 않음)
# message = "success" if score >= 60 else "failiure"

반복문 while

In [157]:
# while은 몇 번 돌지 모를 때 사용, 
# for는 몇 번 돌지 알 때 사용하는 경우가 많다. 
# 보통은 while 쓸 때 for 써도 되고, 그 반대도 마찬가지다.

treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1 # treeHit += 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [160]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: 
"""

number = 0
while number != 4:
    print(prompt)
    number = int(input()) # input은 문자열로 저장된다.

1. Add
2. Del
3. List
4. Quit

Enter number:

4

In [161]:
# while문 강제로 빠져나가기 (break)

coffee = 10
money = 300
while money: 
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee - 1
    print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [164]:
# coffee.py

coffee = 10

while True: 
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee - 1
    elif money > 300:
        print("거스름돈 %d을 돌려주고 커피를 줍니다." % (money - 300))
        coffee = coffee - 1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 10개 입니다.
돈을 넣어 주세요: 1000
거스름돈 700을 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 10000
거스름돈 9700을 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 100000
거스름돈 99700을 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 10000000
거스름돈 9999700을 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 1000000000000
거스름돈 999999999700을 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 1000000000000000
거스름돈 999999999999700을 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 10000000000000000000000
거스름돈 9999999999999999999700을 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 100000000000000000000000
거스름돈 99999999999999999999700을 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 1개 입니다.
돈을 넣어 주세요: 0
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 1개 입니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [165]:
# while문의 맨 처음으로 돌아가기 (continue)

a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a) # 홀수만 출력

1
3
5
7
9

In [166]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 != 0: 
        continue
    print(a) # 짝수만 출력

2
4
6
8
10

In [ ]:
# 무한 루프

while True:
    print("ctrl + c를 눌러야 while문을 빠져나갈 수 있습니다.")
    # 주피터에서는 ctrl + c가 먹히지 않는다...

for문

In [168]:
test_list = ['one','two','three']
for i in test_list: 
    print(i)
# 리스트 내 요소의 개수 만큼만 돈다. 
# 각각의 요소가 차례로 i 변수에 대입된 후 print(i)를 수행

one
two
three

In [169]:
a = [(1,2), (3,4),(5,6)]
for (first, last) in a: 
    print(first + last)

3
7
11